.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.project-card {
  background-color: rgba(40, 40, 40, 0.7);
  border: 1px solid #757491;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: #e9dfe9;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card a {
  color: #aef2dc;
  font-weight: bold;
}

.section-heading {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #e0e6f8;
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 0.5rem;
}

